* {box-sizing: border-box;}

body {
    background-color: #24325FFF;
}

h1 {
    color: #a6eee6ff;
    font-size: 50px;
    font-family: 'Creepster', cursive;
}

.nav-link {
    color: #a6eee6ff;
}

.nav-link:hover {
    color: #fafd7cff;
}

.home-img {
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-text {
    margin: 0;
    padding: 0;
    color: #fafd7cff;
}